/.vs
/360安全卫士.lnk
/360安全浏览器.lnk
/Authy Desktop.lnk
/CF装备助手4.1.exe
/desktop.ini
/ewe.dll
/Git-2.31.1-32-bit.exe
/java
/java.rar
/JavaScript高级程序设计 第四版(1).pdf
/MFCApplication3.rar
/PICO PARK.url
/QQ游戏.lnk
/Visual Studio Code.lnk
/WPS Office.lnk
/WXDrive
/XunLeiWebSetup11.2.4.1750gw.exe
/~$工作簿1.xlsx
/任务1.rar
/原神.lnk
/微信开发者工具.lnk
/爱奇艺.lnk
/穿越火线.lnk
/腾讯影视库.lnk